@import 'utils/variables';

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%; //1rem = 10px, 3.5rem = 35px
}

body {
  font-family: $font-family-roboto-sans-serif;
  font-size: 1.6rem;
  background: white;
  color: #0d0d0d;
}

.wrapper {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

img {
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}

.material-icons {
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
