@import "utils/variables";

.header {
  display: flex;
  align-items: center;

  .navbar {
    margin-right: 15px;
  }

  .combo-boxes {
    flex-grow: 1;
    text-align: right;

    .form-control {
      display: inline-block;
      border-radius: 5px;
      font-size: 1.3rem;
      margin-top: 5px;
      
      &:last-child {
        margin-bottom: 5px;
      }
    }
  }
}

@media ( min-width : 768px ) {
  .header {
    .combo-boxes {
      .form-control {
        margin-left: 15px;
      }
    }
  }
}
