@import "utils/variables";

h1 {
  font-family: $font-family-roboto-sans-serif, serif;
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-family: $font-family-roboto-sans-serif, serif;
  font-size: 1.7rem;
  font-weight: 400;
}
