//! Themes
@import 'themes/slate';
// @import "themes/yeti";

//! Vendors !//
@import "vendor";

//! Global _base Styles
@import "typography";
@import "globals";
@import "headings";

//! utilities / helpers
@import "utils/mixins";
@import "utils/variables";

//! setup
@import "setup/normalize";
// normalize browsers to make more consistent

// Layout
@import "layout/features";

footer {
  background-color: $primary;
  color: $color-black;
  font-family: $font-family-roboto-sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-link {
  font-family: $font-family-roboto-mono;
}

.features-p {
  max-width: 85vh;
  margin: 0 auto;
}

span {
  margin: .6em;
  display: inline-block;
}

.container-image {
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;

  .figure-dog {
    position: relative;

    .name span {
      display: inline;
    }
    
    .name-dog {
      position: absolute;
      cursor: text;
      bottom: 0;
      background-color: rgba(33, 33, 33, .7);
      color: #ffffff;
      text-transform: uppercase;
      
      i, svg {
        margin-left: 10px;
      }
      
      .input-name {
        border-radius: 50px;
        padding: 10px;
        border: none;
      }

      .fa-save, .fa-times {
        cursor: pointer;
        padding-left: 10px;
        font-size: 4rem;
      }
    }

    .img-dog {
      width: 100%;
      max-width: 500px;
    }
  }

  .btn-save {
    background-color: #2a9d8f;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.4rem;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.no-image {
  border: 1px dashed #cacaca;
  max-width: 100%;
  height: 350px;
}

// Class for when element is above threshold
.pin-top {
  position: relative;
}

// Class for when element is below threshold
.pin-bottom {
  position: relative;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;
}

.feature-badges {
  & a {
    padding: 0 5px;
  }
}
