//! Themes
@import 'themes/slate';
// @import "themes/yeti";

//! Vendors !//
@import "vendor";

//! Global _base Styles
@import "typography";
@import "globals";
@import "headings";

//! utilities / helpers
@import "utils/mixins";
@import "utils/variables";

//! setup
@import "setup/normalize";
// normalize browsers to make more consistent

// Layout
@import "layout/features";

footer {
  background-color: $primary;
  color: $color-black;
  font-family: $font-family-roboto-sans-serif;
}

.nav-link {
  font-family: $font-family-roboto-mono;
}

.features-p {
  max-width: 85vh;
  margin: 0 auto;
}

span {
  margin: .6em;
  display: inline-block;
}

// Class for when element is above threshold
.pin-top {
  position: relative;
}

// Class for when element is below threshold
.pin-bottom {
  position: relative;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;
}

.feature-badges {
  & a {
    padding: 0 5px;
  }
}
