//Colors
$color-black: #0d0d0d;
$color-white: #f5f1e9;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-black: 900;

$font-family-roboto-sans-serif: 'Roboto', sans-serif;
$font-family-la-belle-cursiv: 'La Belle Aurore', cursive;
$font-family-roboto-mono: 'Roboto Mono', monospace;

$font-heading: 'Roboto', fallback, 'Georgia', serif;
$font-body: sans-serif;
